.ui-header .ui-title, .ui-footer .ui-title {
	padding: 7px 0 5px 0;
}
.listview-first {
	padding: 1em 1em !important;
}

@media (max-width: 35em) {
	.my-responsive > .ui-block-a,
	.my-responsive > .ui-block-b,
	.my-responsive > .ui-block-c,
	.my-responsive > .ui-block-d,
	.my-responsive > .ui-block-e {
		width: 100%; 
		float: none; 
	}
}
