<div data-role="panel" data-display="push" data-position-fixed="true" id="sidepanel" data-theme="b">
    <ul data-role="listview">
        <li class="listview-first">菜单</li>
        <li data-icon='false'><a href="_list.html" data-transition="slide"><i class='lIcon fa fa-list'></i>单据列表</a></li>
        <li data-icon='false'><a href="_form.html" data-transition="slide"><i class='lIcon fa fa-file'></i>新建单据</a></li>
        <li data-icon='false'><a href="_bind.html" data-ajax="true"><i class='lIcon fa fa-file'></i>团队/企业</a></li>
        <li data-icon='false'><a href="_faq.html" data-ajax="true"><i class='lIcon fa fa-help'></i>帮助</a></li>
    </ul>
</div>

<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b'>
    <a href="#sidepanel" data-role="button" data-inline="true" data-display="reveal"><i class='fa fa-bars'></i></a>
    <h1>未处理单据</h1>
</div>

<div data-role="content">
    <div data-role="tabs">
        <div data-role="navbar">
            <ul>
                <li><a href="#one" data-theme="b" data-ajax="false">one</a></li>
                <li><a href="_list2.html" data-theme="a" data-ajax="true">two</a></li>
                <li><a href="_list3.html" data-theme="a" data-ajax="true">three</a></li>
            </ul>
        </div>
    </div>
</div>
