<div data-role="tabs">
    <div data-role="navbar">
        <ul>
            <li><a class="sub-page" href="inc/_list.html" data-theme="b" data-ajax="false">one</a></li>
            <li><a class="sub-page" href="inc/_list2.html" data-theme="a" data-ajax="true">two</a></li>
            <li><a class="sub-page" href="inc/_list3.html" data-theme="a" data-ajax="true">three</a></li>
        </ul>
    </div>
</div>