<ul data-role="listview" data-inset="false" data-icon="false" data-divider-theme="b">
    <li data-role="list-divider"><h2>Page 2</h2> <span class="ui-li-count">2</span></li>
    <li><a href="index.php">
        <img src="http://placehold.it/150x150">
        <h2>Stephen Weber</h2>
        <p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
        <p class="ui-li-aside"><strong>6:24</strong>PM</p>
    </a></li>
    <li><a href="index.php">
        <img src="http://placehold.it/150x150">
        <h2>jQuery Team</h2>
        <p>In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.</p>
        <p class="ui-li-aside"><strong>9:18</strong>AM</p>
    </a></li>
    <li data-role="list-divider">Thursday, October 7, 2010 <span class="ui-li-count">1</span></li>
    <li><a href="index.php">
        <img src="http://placehold.it/150x150">
        <h2>Avery Walker</h2>
        <p>Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
        <p class="ui-li-aside"><strong>4:48</strong>PM</p>
    </a></li>
</ul>